!/apps/.keep
/tmp/*
!/tmp/.keep
docker-compose.override.yml


apps/baukis2/.bundle

apps/baukis2/log/*
apps/baukis2/tmp/*
!/log/.keep
!/tmp/.keep

apps/baukis2/storage/*
!/storage/.keep

apps/baukis2/public/assets
.byebug_history

apps/baukis2/config/master.key

apps/baukis2/public/packs
apps/baukis2/public/packs-test
apps/baukis2/node_modules
apps/baukis2/yarn-error.log
apps/baukis2/yarn-debug.log*
apps/baukis2/.yarn-integrity
